/* header ************************************* */
.nav-item {
  font-size: 22px;
  color: #3d58a6;
}
.active {
  color: #ee4036;
}
.news-title {
  font-size: 20px;
  font-weight: normal;
}
.news-text {
  font-size: 16px;
}
.contactAdress {
  text-align: center;
}
.p1 {
  color: #3d58a6;
  font-size: 20px;
}

.ligth {
  color: #808080;
}

/*  lesson 3 inline block*********************************************************** ******************************************************************************************************************************************************************************************************************************************************************************************/

/*  first step :  put all elements from header in INLINE BLOCK to have them like one line  */
/*  step two: put all elements in center with Wertical -align middle  */
/*  step 3: distance between nav elements with margin-right*/
.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.nav-bar {
  display: inline-block;
  vertical-align: middle;
}
.nav-li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}

/*  distance between header and big photo */
.section-1 {
  margin-bottom: 116px;
  margin-top: 77px;
}

.section-1-container {
  width: 1170px;
  height: 460px;
  margin: auto;
}
/*  section first page after big photo *******/

/*  as we know size 1170/460  so we take the screen size and put the photo automaticaly on screen middle , so we do it with margin, and to do it need absolutely mention sizes WIDTH and HEIGHT*/

.section-2-container {
  width: 1170px;
  margin: 0 auto;
}
.section-2-title {
  margin-bottom: 40px;
}
.left-block {
  width: 570px;
  height: 225px;
  background-color: #f2f2f2;
  padding: 10px 15px 24px 28px;
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
}
.right-block {
  width: 570px;
  height: 225px;
  background-color: #f2f2f2;
  padding: 10px 15px 24px 28px;
  display: inline-block;
  vertical-align: middle;
}
.block-title {
  margin-bottom: 12px;
}
.block-img {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  margin-right: 60px;
}
.block-text {
  display: inline-block;
  vertical-align: middle;
  width: 355px;
}
/* contact page******************* */
section {
  background-color: #e6e6e6;
  margin-top: 33px;
  padding: 40px 0 65px;
}
.section_container {
  width: 1170px;
  margin: auto;
}
.adress_container {
  width: 261px;
  height: 98px;
  display: inline-block;
  vertical-align: top;
}
.map_container {
  display: inline-block;
  vertical-align: top;
  width: 848px;
  height: 464px;
}

/* **********************news page******************************* */

.news-calender {
  width: 56px;
  height: 56px;
  background: #3d58a6;
  padding: 8px 10px;
  font-size: 37px;
  color: white;
}

.under-calendar-text {
  color: #3d58a6;
  font-size: 22px;
  display: inline-block;
  margin: 10px 0 17px 0;
}
.news-title {
  font-size: 20px;
  margin-bottom: 17px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.news-img {
  vertical-align: top;
  margin-right: 48px;
}
.news-container {
  display: inline-block;
  vertical-align: text-top;
  width: 929px;
  margin-bottom: 36px;
  margin-left: 30px;
  text-indent: 50px;
}
.paragr1 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.paragr2 {
  font-family: "Festive";
}
.article {
  margin-bottom: 17px;
  margin-left: 10px;
}

/*  footer ******************* */
.line {
  height: 26px;
  width: 1px;
  background-color: #3d58a6;
  margin: 0 36px;
  display: inline-block;
}
